<!-- edit-password.component.html -->
<div class="card">
    <div class="card-body">
      <h4 class="mb-3">Modifier le mot de passe</h4>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Ancien mot de passe</mat-label>
          <input matInput type="password" formControlName="oldPassword" placeholder="Entrez votre ancien mot de passe" required>
        </mat-form-field>
  
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput type="password" formControlName="newPassword" placeholder="Entrez votre nouveau mot de passe" required>
        </mat-form-field>
  
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Confirmer le nouveau mot de passe</mat-label>
          <input matInput type="password" formControlName="confirmNewPassword" placeholder="Confirmez votre nouveau mot de passe" required>
        </mat-form-field>
  
        <button type="submit" mat-raised-button color="primary" class="btn btn-primary" [disabled]="passwordForm.invalid">
          Modifier le mot de passe
        </button>
      </form>
    </div>
  </div>