<mat-card class="details-card">
  <div>
    <img
      [src]="'../../assets/images/uploads/' + cardDetails?.photo"
      class="w-100 card-image"
      alt=""
    />
  </div>
  <mat-card-content>
    <!-- entete du contenu -->
    <div class="owner-guard-details">
      <div class="owner-details">
        <!--<div class="profile-image">
          <img
            style="
              margin-left: 4%;
              margin-top: -9%;
              border-radius: 50%;
              margin-bottom: 2%;
            "
            src="{{ cardDetails?.profile }}"
            width="8%"
          />
        </div> -->

        <div class="owner-info">
          <h2>{{ cardDetails?.titre }}</h2>
        </div>
        <p class="mb-2 op-7">
          Date de publication : {{ cardDetails?.date | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <hr />
      <br />
      <p>{{ cardDetails?.description }}</p>
    </div>
  </mat-card-content>
</mat-card>
