<!-- Début Pied de page -->
<div class="footer">
    <div class="container">
      <div class="box">
        <div class="d-flex align-items-center" [routerLink]="'/accueil'">
          <a href="javascript:void(0)" class="d-flex align-items-center">
            <span class="fw-medium fs-26" style="color: white;margin-bottom: 20px;">Anicareful</span>
          </a>
        </div>
        <ul class="social">
          <li>
            <a href="#" class="facebook" style="padding-left: 16px;">
              <i-feather name="facebook" class="feather-base me-16"></i-feather>
            </a>
          </li>
          <li>
            <a href="#" class="twitter" style="padding-left: 16px;">
              <i-feather name="twitter" class="feather-base me-16"></i-feather>
            </a>
          </li>
          <li>
            <a href="#" class="instagram" style="padding-left: 16px;">
              <i-feather name="instagram" class="feather-base me-16"></i-feather>
            </a>
          </li>
          <li>
            <a href="#" class="youtube" style="padding-left: 16px;">
              <i-feather name="youtube" class="feather-base me-16"></i-feather>
            </a>
          </li>
        </ul>
        <p class="text" style="margin-top: 15px;">
          Anicareful est votre destination ultime pour tous les besoins de vos animaux de compagnie.      </p>
      </div>
      <div class="box">
        <ul class="links">
          <li><i-feather name="arrow-right-circle" class="feather-base me-4" style="color: white; top: 40px;"></i-feather><a href="#produits" style="margin-bottom: 90px;">Les produits</a></li>
          <li><i-feather name="arrow-right-circle" class="feather-base me-4" style="color: white; top: 40px;"></i-feather><a href="#produits" style="margin-bottom: 90px;">Contenu informatif</a></li>
          <li><i-feather name="arrow-right-circle" class="feather-base me-4" style="color: white; top: 40px;"></i-feather><a href="#produits" style="margin-bottom: 90px;">Nos services</a></li>
          <li><i-feather name="arrow-right-circle" class="feather-base me-4" style="color: white; top: 40px;"></i-feather><a href="#produits" style="margin-bottom: 90px;">Contactez-nous</a></li>
        </ul>
      </div>
      <div class="box">
        <div class="line">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          <div class="info">5, avenue Taha Hussein Montfleury, 1008 Tunis</div>
        </div>
        <!-- <div class="line">
          <i class="far fa-clock fa-fw"></i>
          <div class="info">Consultez nos jours et heures d'ouverture pour planifier votre visite.</div>
        </div> -->
        <div class="line">
          <i class="fas fa-phone-volume fa-fw"></i>
          <div class="info">
            <span>(+216) 71 49 68 96</span>
          </div>
        </div>
      </div>
      <div class="box footer-gallery">
        <img src="/assets/imgs/gallery-01.png" alt="" />
        <img src="/assets/imgs/gallery-01.png" alt="" />
        <img src="/assets/imgs/gallery-01.png" alt="" />
        <img src="/assets/imgs/gallery-01.png" alt="" />
        <img src="/assets/imgs/gallery-01.png" alt="" />
        <img src="/assets/imgs/gallery-01.png" alt="" />
      </div>
    </div>
    <p class="copyright">Copyright &copy; 2024 Anicareful. All rights reserved.</p>
  </div>
  <!-- Fin Pied de page -->
  