/* Masthead */
.masthead {
    width: 100%;
    height: calc(100vh - 70px);
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("/assets/images/home.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: var(--main-padding-bottom);
  }
  
  .masthead h1, .masthead .h1 {
  
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  // .masthead h2, .masthead .h2 {
  //   max-width: 20rem;
  //   font-size: 20px;
  // }
  
  @media (min-width: 768px) {
    .masthead h1, .masthead .h1 {
      font-size: 40px;
      line-height: 64px;
    }
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: calc(100vh - 72px);
      padding: 0;
    }
  
    .masthead h1, .masthead .h1 {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: 0.1em;
      margin-bottom: 20px;
    }
  
    .masthead h2, .masthead .h2 {
      font-size: 20px;
      margin-bottom: 80px;
    }
  }