
  
  <!-- Daily Activity -->
  <mat-card class="w-100">
      <mat-card-content>
        <h4 class="mb-56">Liste de contenu publié par les utilisateurs</h4>
       
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
            
            
          <!-- Id Column -->
          
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
         
            <!-- Assigned Column -->
             <ng-container matColumnDef="utilisateur">
              <th mat-header-cell *matHeaderCellDef style="padding-left: 15px;"> Utilisateur </th>
              <!-- <td mat-cell *matCellDef="let element"> -->
                <!-- <p class="mb-0 fw-medium"></p> -->
                <td mat-cell class=" fw-medium" *matCellDef="let element" style="padding-left: 15px;"> {{ element.nom }} {{ element.prenom }}</td>
              <!-- </td> -->
            </ng-container> 
            
             <!-- Assigned Column -->
             <ng-container matColumnDef="titre">
              <th mat-header-cell *matHeaderCellDef style="padding-left: 15px;"> Titre </th>
              <!-- <td mat-cell *matCellDef="let element"> -->
                <!-- <p class="mb-0 fw-medium"></p> -->
                <td mat-cell class=" fw-medium" *matCellDef="let element" style="padding-left: 15px;"> {{ element.titre }} </td>
              <!-- </td> -->
            </ng-container> 

            <!-- Assigned Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef style="padding-left: 40px;"> Description </th>
              <!-- <td mat-cell *matCellDef="let element"> -->
                <!-- <p class="mb-0 fw-medium"></p> -->
                <td mat-cell class=" fw-medium" *matCellDef="let element" style="padding-left: 15px;">     <button mat-button (click)="openDescriptionDialog(element.description)" style="background-color: gray; color: white;">Voir la description</button>
                </td>
              <!-- </td> -->
            </ng-container> 
  
             <!-- Assigned Column -->
             <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef style="padding-left: 15px;"> Date </th>
              <!-- <td mat-cell *matCellDef="let element"> -->
                <!-- <p class="mb-0 fw-medium"></p> -->
                <td mat-cell class=" fw-medium" *matCellDef="let element" style="padding-left: 15px;"> {{ element.date | date:'dd-MM-yyyy'  }} </td>
              <!-- </td> -->
            </ng-container> 
  
          
  
             <!-- Assigned Column -->
             <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef style="padding-left: 15px;"> Photo </th>
                <!-- <td mat-cell *matCellDef="let element"> -->
                  <!-- <p class="mb-0 fw-medium"></p> -->
                  <td mat-cell class=" fw-medium" *matCellDef="let element" style="padding-left: 15px;"> <img [src]="'../../assets/images/uploads/'+element.photo" alt="Photo article" width="100"> </td>
                <!-- </td> -->
              </ng-container> 

               <!-- Assigned Column -->
             <ng-container matColumnDef="etat">
                <th mat-header-cell *matHeaderCellDef style="padding-left: 15px;"> État </th>
                <!-- <td mat-cell *matCellDef="let element"> -->
                  <!-- <p class="mb-0 fw-medium"></p> -->
                  <td mat-cell class="fw-medium" *matCellDef="let element" style="padding-left: 15px;">
                    <span style="border-radius: 8px; padding: 5px; color: white;" [ngClass]="{'badge badge-success rounded-pill': element.etat === 'approuve', 'badge badge-primary rounded-pill': element.etat === 'en attente'}">
                      {{ element.etat }}
                    </span>
                  </td>
                <!-- </td> -->
              </ng-container> 
         
    
            <!-- Budget Column -->
             <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef  style="padding-left: 15px;"> Actions </th>
              <td mat-cell *matCellDef="let element"  style="padding-left: 15px;">
                <button style="margin: 10px;" mat-raised-button class="me-3 mb-8" color="warn" matTooltip="Supprimer" matTooltipPosition="below" (click)="supprimerContenu(element.id)"><i-feather name="trash-2" class="feather-base mt-n2" style="color: white;"></i-feather></button>
                <button mat-raised-button class="me-8 mb-8" style="background-color: #00c292;" matTooltip="Approuver" matTooltipPosition="below" (click)="approuver(element.id)"> <mat-icon style="color : white">check</mat-icon></button>
              </td>
            </ng-container>
     
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
