<div class="container" id="nos-services">
  <h2 class="text-center mb-4" style="font-weight: bolder; margin: 80px; margin-top: 60px;padding-bottom: 40px;">Nos Services</h2>
</div>

<!-- Début Services -->
<div class="services" id="services">
  <div class="container">
    <div class="box">
      <i>
        <i-feather name="shopping-cart" class="feather-base me-16"></i-feather>
      </i>
      <h3>Vente en ligne de produits pour animaux</h3>
      <div class="info">
        <a style="font-weight: 600; opacity: 0;">Détails</a>
      </div>
    </div>
    <div class="box">
      <i>
        <i-feather name="home" class="feather-base me-16"></i-feather>
      </i>
      <h3>Services de garderie pour animaux</h3>
      <div class="info">
        <a style="font-weight: 600; opacity: 0;">Détails</a>
      </div>
    </div>
    <div class="box">
      <i>
        <i-feather name="activity" class="feather-base me-16"></i-feather>
      </i>
      <h3>Services vétérinaires <br> <span style="opacity: 0;">hello hello</span></h3>
      <div class="info">
        <a style="font-weight: 600; opacity: 0;">Détails</a>
      </div>
    </div>
  </div>
</div>
<!-- Fin Services -->