// You can use your custom style here. :)
.green-snackbar {
    background: #32CD32 !important;
    color: white !important;
  }
  
  .black-snackbar {
    background: black !important;
    color: white !important;
  }

  .red-snackbar {
    background: #d10e0e !important;
    color: white !important;
  }